body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.judul {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    
}

.calculator {
    width: 300px;
    background-color: rgb(145, 145, 151);
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 287px;
    height: 40px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: silver;
}
